* {
	margin: 0;
	padding: 0;
	font-family: 'AmericanTypewriter-Light', serif;
	font-weight: 100;
}
body {
	text-align: center;
	color: #333;
}
h1 {
	margin: 1em auto;
	font-weight: 100;
}
pre {
	text-align: left;
	display: inline-block;
	margin: 1em auto;
	font-size: 0.65em;
	background-color: #ececec;
	border-radius: 3px;
	border: 1px solid #dddddd;
	padding: 20px;
	width: 250px;
	font-family: menlo, 'Courier new';
	background-image: linear-gradient(to bottom, #ffffff, #efefef);
}
button {
	font-family: AmericanTypewriter, serif;
	background-image: linear-gradient(to bottom, #efefef, #dbdbdb);
	border-radius: 3px;
	color: #111111;
	font-size: 12px;
	padding: 5px 14px;
	border: solid #bfbfbf 1px;
	text-decoration: none;
	cursor: pointer;
	width: 50px;
}
button.active {
	background: #111111;
	background-image: linear-gradient(to bottom, #111111, #333333);
	border: solid #000000 1px;
	color: #ffffff;
	text-decoration: none;
}
button:focus {
	outline: none;
}
h2 {
	font-family: AmericanTypewriter, serif;
	font-family: 'AmericanTypewriter-Light', serif;
	font-size: 22px;
}
p {
	margin-bottom: 2em;
}

